@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

figcaption {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.main-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-align: center;
  color: #ffffff;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.nav__icon {
  width: 24px;
  height: 24px;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.header {
  min-height: 230px;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/bg-home-mobile.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/bg-home-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/mobile/bg-home-mobile@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/mobile/bg-home-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/bg-home-tablet.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/bg-home-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/tablet/bg-home-tablet@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/tablet/bg-home-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/bg-home-pc.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/bg-home-pc.jpg");
  }
}

@media screen and (min-width: 1024px) and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header/desktop/bg-home-pc@2x.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/desktop/bg-home-pc@2x.jpg");
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__title {
  color: #ffffff;
  margin-left: 10px;
  font-size: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__title:hover, .nav__title:focus {
  color: #FF6B08;
}

.navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation__list {
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation__item:last-child {
  margin-left: 39px;
}

.navigation__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #FF6B08;
}

.navigation__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FF6B08;
  border-radius: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (max-width: 479px) {
  .nav__title {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav__container {
    padding-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .nav__container {
    padding-top: 41px;
  }
}

.header__search-form {
  margin-top: 41px;
}

.search-form__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .search-form__container {
    max-width: 336px;
  }
}

.search-form__input {
  width: 100%;
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0.5px solid #ffffff;
  outline: 0;
}

.search-form__input, .search-form__input::-webkit-input-placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__input, .search-form__input:-ms-input-placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__input, .search-form__input::-ms-input-placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__input, .search-form__input::placeholder {
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.search-form__btn {
  position: absolute;
  right: 0;
  height: 100%;
}

.header__genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  position: absolute;
  left: 27px;
  top: 170px;
}

.footer {
  background-color: #F7F7F7;
}
/*# sourceMappingURL=main.css.map */