/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './utils/variables';

@import './base/reset';
@import './base/typography';

@import './components/main-header';
@import './components/icon';
@import './components/btn';
@import './components/spinner';
@import './components/toggler';
@import './components/spinner.scss';
@import './components/pagination.scss';

@import './layout/header';
@import './layout/footer';
@import './layout/gallery';
@import './layout/modal';
@import './layout/backdrop';
@import './layout/team-modal';