<section class="footer">
  <div class="container">
    <p>© 2020 | All Rights Reserved |</p>
    <p>
      Developed with
      <svg class="footer__icon-heart" width="14" height="13">
        <use href="/images/svg/symbol-defs.svg#icon-favorite"></use>
      </svg>
      by
    </p>
    <a>GoIT Students</a>
  </div>
</section>

<!-- <footer class="footer">
    <div class="footer__container container">
        <p class="footer__text">&#169;  2022 | All Rights Reserved | 
        </p>
        <p class="footer__text-btn">
            Developed with  
            
            by
            <button class="footer__btn js-open-modal-team" type="button">GoIT Students</button>
        </p>
    </div>
</footer> -->