<section class="modal">
    <div class="backdrop" data-modal>
        <ul class="modal__pic">
            <li class="pic">
                <picture>
                    <source
                        src="../src/images/modal/modal_mobile.jpg"
                        srcset="../src/images/modal/modal_mobile@2x.jpg 2x"
                        media="(min-width:320px) and (max-width:767px)"/>
                    <source
                        src="../src/images/modal/modal_tablet.jpg"
                        srcset="../src/images/modal/modal_tablet@2x.jpg 2x"
                        media="(min-width:768px) and (max-width:1023px)"/>
                    <source
                        src="../src/images/modal/modal_desktop.jpg"
                        srcset="../src/images/modal/modal_desktop@2x.jpg 2x"
                        media="(min-width:1024px)"/>
                    <img src="../src/images/modal/modal_desktop.jpg" 
                        alt="A FISTFUL OF LEAD"
                    />
                </picture>
            </li>
        
        <ul class="modal__description">
            <ul class="description__list">
                <li class="description__film">A FISTFUL OF LEAD</li>
                <li><button type="button" class="close-btn" data-modal-close>X
                    <!-- <svg width="14" height="14">
                        <use href="images/icons.svg#icon-close"></use>
                    </svg> -->
                </button></li>
                    <ul class="description__vote">
                        <li class="vote__text">Vote/Votes</li>
                        <li class="vote__value"><span class="vote__mark">7.3</span>/ 1260</li>
                    </ul>
                    <ul class="description__popularity">
                        <li class="popularity__text">Popularity</li>
                        <li class="popularity__value">100.2</li>
                    </ul>
                    <ul class="description__title">
                        <li class="title__text">Original Title</li>
                        <li class="title__value">A FISTFUL OF LEAD</li>
                    </ul>
                    <ul class="description__genre">
                        <li class="genre__text">Genre</li>
                        <li class="genre__value">Western</li>
                    </ul>
                <li class="description__header">ABOUT</li>
                <li class="description__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</li>
                <ul class="description__btn">
                    <li><button class="watched-btn">ADD TO WATCHED</button></li>
                    <li><button class="queue-btn">ADD TO QUEUE</button></li>
                </ul>
            </ul>
        </ul>
    </div>
</section>

<style type="text/css">
    .modal__pic,
    .modal__description,
    .description__vote,
    .description__popularity,
    .description__title,
    .description__genre,
    .description__btn{
        display:flex;
        list-style: none;
        padding-left:0;
    }
    .description__list,
    .description__statistic{
        list-style: none;
        padding-left:30px;
    }

    img{
        border-radius: 5px;
    }
    .description__film {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
        padding-bottom:20px;
    }

    .description__vote,
    .description__popularity,
    .description__title,
    .description__header{
        padding-bottom:10px;
    }
    .description__genre{
        padding-bottom:20px;
    }
    .vote__value{
        padding-left:95px;
    }
    .popularity__value{
        padding-left:97px;
    }
    .title__value{
        padding-left:83px;
    }
    .genre__value{
        padding-left:120px;
    }
    .vote__mark{
        width: 36px;
        height: 16px;
        background-color: #FF6B01;
        border-radius: 5px;
        font-family: 'Roboto';

        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .vote__text,
    .popularity__text,
    .title__text,
    .genre__text{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        color: #8C8C8C;
    }

    .description__text{
        padding-bottom:21px; 
        width: 396px;
        height: 160px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        color: #000000;
    }

    .watched-btn{
        width: 136px;
        height: 44px;
        background: #FF6B01;
        border-radius: 5px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height:1.33;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    .queue-btn{
        width: 136px;
        height: 44px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 5px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height:1.33;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-left:15px;
    }

    .backdrop{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:#FFFFFF;
        opacity:1;
        transition-property: opacity;
        transition-duration: 1000ms;
        transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    }

    .is-hidden{
        opacity: 0;
        pointer-events:none;
    }

    .close-btn{
        align-items: center;
        justify-content: center;
        border:none;
        position: relative;
        bottom:50px;
        left:300px;
        width: 14px;
        height: 14px;
        background-color: var(--close-color);
        cursor: pointer;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }
  
</style>

