// @media screen and (min-width:320px) and (max-width:767px) {
//     .backdrop{
//         position:fixed;
//         top:0;
//         left:0;
//         width:100%;
//         height:100%;
//         background-color:rgba(0, 0, 0, 0.2);
//         opacity:1;
//         transition-property: opacity;
//         transition-duration: 1000ms;
//         transition-timing-function: cubic-bezier(0.4,0,0.2,1);
//     }
// }

// @media screen and (min-width:768px) and (max-width:1023px) {
//     .backdrop{
//         position:fixed;
//         top:0;
//         left:0;
//         width:100%;
//         height:100%;
//         background-color:rgba(0, 0, 0, 0.2);
//         opacity:1;
//         transition-property: opacity;
//         transition-duration: 1000ms;
//         transition-timing-function: cubic-bezier(0.4,0,0.2,1);
//     }
// }

// @media screen and (min-width:1024px) {
//     .backdrop{
//         position:fixed;
//         top:0;
//         left:0;
//         width:100%;
//         height:100%;
//         background-color:rgba(0, 0, 0, 0.2);
//         opacity:1;
//         transition-property: opacity;
//         transition-duration: 1000ms;
//         transition-timing-function: cubic-bezier(0.4,0,0.2,1);
//     }
// }