.footer {
    background-color: $footer-bg;
}




@media screen and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1280px) {

}

@media screen and (min-width: 1280px) {

}