@media screen and (min-width:320px) and (max-width:767px) {
    .movie-card{
        list-style: none;
        margin-top:30px;
    }
    
    .movie-card__img{
        width:280px;
        height:402px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    .movie-card__title{
        font-weight: 500px;
        font-size:12px;
        line-height:16px;
        color:#000000;
    }
    
    .movie-card__info{
        font-weight: 500px;
        font-size:12px;
        line-height:14.06px;
        color:#ff6b08;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .movie-card{
        list-style: none;
        display:inline-block;
        margin-right:30px;
        margin-top:30px;
        flex-basis: calc(100% / 2 - 30px);
        &:nth-of-type(2n) {
            margin-right: -30px;
          }
    }
    
    .movie-card__img{
        width:293px;
        height:398px;
        border-radius: 5px;
        margin-bottom: 10px;
        display:flex;
    }
    
    .movie-card__title{
        font-weight: 500px;
        font-size:12px;
        line-height:16px;
        color:#000000;
    }
    
    .movie-card__info{
        font-weight: 500px;
        font-size:12px;
        line-height:14.06px;
        color:#ff6b08;
    }
}


@media screen and (min-width:1024px) {
    .movie-card{
        list-style: none;
        display:inline-block;
        margin-right:30px;
        margin-top:30px;
        flex-basis: calc(100% / 3 - 30px);
        &:nth-of-type(3n) {
            margin-right: -30px;
          }
    }
    
    .movie-card__img{
        width:274px;
        height:398px;
        border-radius: 5px;
        margin-bottom: 10px;
        display:flex;
    }
    
    .movie-card__title{
        font-weight: 500px;
        font-size:12px;
        line-height:16px;
        line-height:14.06px;
        color:#000000;
    }
    
    .movie-card__info{
        font-weight: 500px;
        font-size:12px;
        line-height:16px;
        line-height:14.06px;
        color:#ff6b08;
    }
}
