// === HEADER ===

.header {
    min-height: 230px;

    background-size: cover;
    background-position: center;
}

// === NAV ===

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__list {
        position: relative;
    }

    &__item {
        display: flex;
        text-transform: uppercase;
        align-items: center;
    }

    &__link {

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 100%;
        }
    }

}

@media screen and (min-width: 768px) {}