// === HEADER ===

.header {
    min-height: 230px;

    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/mobile/bg-home-mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/header/mobile/bg-home-mobile@2x.jpg');
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/header/tablet/bg-home-tablet.jpg');

        @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('../images/header/tablet/bg-home-tablet@2x.jpg');
        }
    }

    @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/header/desktop/bg-home-pc.jpg');

        @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url('../images/header/desktop/bg-home-pc@2x.jpg');
        }
    }
}

// === NAV ===

.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__title {
        color: $white;
        margin-left: 10px;
        font-size: 30px;
        transition: color $shift;

        &:hover,
        &:focus {
            color: $orange;
        }
    }
}

.navigation {
    justify-content: space-between;
    align-items: flex-end;

    &__list {
        color: $white;
        position: relative;
        display: flex;

    }

    &__item {
        text-transform: uppercase;
        align-items: center;
        position: relative;

        &:last-child {
            margin-left: 39px;
        }
    }

    &__link {
        transition: color $shift;

        &:hover,
        &:focus {
            color: $orange;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: $orange;
            border-radius: 2px;
            transform: scale(0, 1);
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover:after {
            transform: scale(1, 1);
        }
    }

}

@media screen and (max-width: 479px) {

    .nav {
        &__title {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {

    .nav {
        &__container {
            padding-top: 46px;
        }
    }
}

@media screen and (min-width: 768px) {

    .nav {
        &__container {
            padding-top: 41px;
        }
    }
}

// === SEARCH ===

.header {

    &__search-form {
        margin-top: 41px;
        ;
    }
}

.search-form {
    &__container {
        position: relative;

        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px) {
            max-width: 336px;
        }
    }

    &__input {
        width: 100%;

        background: transparent;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 0.5px solid $white;
        outline: 0;
        transition: $shift;

        &:focus,
        &:hover {
            border-bottom: 1px solid $orange;
        }
    }

    &__input,
    &__input::placeholder {
        padding-bottom: 4px;

        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(16 / 14);
    }

    &__btn {
        position: absolute;
        height: 100%;
        padding: 3px;
        bottom: 0;
        background: transparent;
        outline: none;
        right: 0px;
    }
}

// === GENRE OPTIONS  ===

.header__genre {
    display: flex;
    align-items: center;
    z-index: 100;
    position: absolute;
    left: 27px;
    top: 170px;

    &>select {
        width: 117px;
        font-size: 12px;
        border-radius: 8px;
        height: 35px;
    }
}